<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.destro.android.playground.jetpack">

    <application>
        <activity android:name=".databinding.MainActivity"/>
        <activity android:name=".databinding.basic.BasicActivity"/>
    </application>
</manifest>
